<heml>
    <meta charset="UTF-8">
    <title>Provectus test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<body>
<div>What's your name?</div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input your name"/>
            <button type="submit">Sign</button>
        </form>
    </div>

<div>Hello, </div>

<div>List names:</div>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{name}}</span>
</div>
{{/messages}}
</body>

</heml>